.header {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 100%;
  background-color: #f54f50;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
